* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 60px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 5%;
  margin-top: -7%;
}
.logo {
  font-size: 1.8rem;
  color: #47c571;
  font-weight: 700;
  order: 1;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-buttons {
  display: flex;
  order: 3;
  width: 100%;
  justify-content: space-between;
  margin-top: 0;
  transition: all 0.3s ease;
  align-items: center;
}

.nav-buttons button {
  color: #000000;
  text-decoration: none;
  font-weight: 600px;
  font-size: 1rem;
  transition: color 0.3s ease;
  margin-left: 20px;
}
.header-buttons {
  display: flex;
  gap: 20px; 
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  order: 2;
  height: 100%;
}
.nav-buttons button:hover {
  color: #47c571;
}

.login {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.btn-quote {
  background: #000000;
  color: white !important;
  padding: 8px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease;
  margin: 0;
}
.btn-quote:hover {
  background: #47c571;
}
.menu-toggle {
  display: none;
  cursor: pointer;
  order: 2;
}
@media (max-width: 768px) {

  .container{
      padding: 5%;
  }
  
  .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      position: relative;
  }

  .nav-buttons {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgb(228, 226, 226);
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 20px 0;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      z-index: 1000;
  }

  .nav-buttons.active {
      display: flex;
  }

  .header-buttons,
  .nav-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin:auto;
  }

  .menu-toggle {
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
  }

  .logo {
      font-size: 1.5rem;
  }

}

@media (max-width: 480px) {
  .btn-quote {
      padding: 8px 20px;
      font-size: 0.9rem;
  }

  .container {
      margin: 20px auto;
  }
}